
body {
    font-family: 'Poppins', sans-serif!important;
}
h1,h2,h3{
    color:#FF4700;
}

hr {
    margin: 10px 0;
}

//Butoons
.button {
    box-sizing: none;
    color:#FF4700;
    margin: 0px 2px;
}

.button:hover {
    color: black;
}

//tags
.tag {
    padding: 2px 10px;
    margin: 0 5px;
    height: 25px;
    background-color:#FF4700;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    
    p {
        text-align: center;
        color: white;
        text-decoration: none;
    }
}

.tag-list {
    display: flex;
}

//input search
.search {
    border-radius: 7px!important;
}
.search input {
 background-color: #eeeeee;
}
.search input[type="text"]:focus {
    border:solid 2px #FF4700!important;
}
::placeholder {
    color: black!important;
    font-family: 'Poppins', sans-serif!important;
}
//select tags
.selecttags {
    width: 238px!important;
    margin-left: 20px;
    background-color: #eeeeee!important;
    color: black!important;
    font-family: 'Poppins', sans-serif!important;
}
select:focus {
    border:solid 2px #FF4700!important;
}

//Cards list
.card-project {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color:  #eeeeee!important;
    border:solid 2px #FF4700!important;
    display: block;
}

.card-head {
    display: flex;
    justify-content: space-between;

    h3 {
        margin: 0;
    }
}

.card-main {
    margin-bottom: 20px;
    p {
        margin: 0;
        margin-bottom: 15px !important;
    }

    .card-dates {
        font-size: 12px;
    }
}

.card-foot {
    display: flex;
    justify-content: space-between;

    p {
        display: inline;
        border-radius: 15px;
        font-size: 14px;
        color: white;
        margin: 0;
    }
    .in-progress {
        padding: 2px 15px;
        background-color: rgb(58, 153, 58);
    }
    .achieved-all-goals {
        padding: 2px 15px;
        background-color: rgb(53, 138, 218);
    }
    .paused {
        padding: 2px 15px;
        background-color: rgb(211, 156, 7);
    }
}



//modal
#modal {
    width: 730px!important;

}
.container-modal {
    width: 700px!important;
    height:668;
    margin: 0 auto;
}
#fondo-modal {
    background-color:#eeeeee!important;
}
