body{
    font-family: 'Poppins', sans-serif!important;
}
h1,h2,h3{
    color:#FF4700;
}
h4{
    color:#FF4700; 
    font-size: xx-large; 
}
main{
    background-color: white!important;

    padding: 50px;
}
icons{
    margin-right: 2vh;
}
th{
    font-weight: bold;
    font-size:22px;
}
hr{
    position: fixed;
    width: 73%;
}

//Butoons
.button{
    width: auto;
    height:39px;
    border-radius:5px;
    box-sizing: none;
    border: 1px solid #FF4700;
    background-color:  #FF4700;
    color:white;
    margin-left: 620%
}

.button:hover{
    background-color: black;
    border: 1px solid black;
    color:#FF4700;
}

.button_hidden{
    border: none;
    cursor: pointer;
}
.button2{
    width: auto;
    height:39px;
    border-radius:5px;
    box-sizing: none;
    border: 1px solid #FF4700;
    background-color:  #FF4700;
    color:white;
   
}

.button2:hover{
    background-color: black;
    border: 1px solid black;
    color:#FF4700;
}


//select tags
.selecttags{
    width: 238px!important;
    margin-left: 20px;
    background-color: #eeeeee!important;
    color: black!important;
    font-family: 'Poppins', sans-serif!important;
}
select:focus{
    border:solid 2px #FF4700!important;
}

.selector:hover{
    color:#FF4700!important;
    }



//Cards list
.card-list1{
    width: 100%!important;
    // height: 186px;
    border-radius: 15px;
    background-color:  #eeeeee!important;
    border:solid 2px #FF4700!important;
    display: block;
    padding: 20px!important;
    margin: 20px 0px 20px 0px!important;
    p{
        margin: 10px 0px 0px 0px!important;

    }
}
//modal
#modal{
    width: 730px!important;

}
.container-modal{
    width: 700px!important;
    height:668;
    margin: 0 auto;
}
#fondo-modal{
    background-color:#eeeeee!important;
}
//Empresa 
.content_empresa{
    width: 65%!important;
    height: 186px;
    border-radius: 15px;
    background-color: #eeeeee!important;
    border: solid 2px #FF4700!important;
    display: block;
    padding: 20px;
}

.float{
    right: 13%;
    position: fixed;
}
.card_header{
    display: flex;
    justify-content: space-between;
}
.description{
    margin-top: 22px;
}
.card-list2{
    width: 100%!important;
    // height: 186px;
    border-radius: 15px;
    background-color:  #eeeeee!important;
    border:solid 2px #FF4700!important;
    display: block;
    padding: 20px!important;
    margin: 20px 0px 20px 0px!important;
    p{
        margin: 10px 0px 0px 0px!important;

    }
}
.edit{
    color: black !important;
}
.edit:hover{
    color:#FF4700 !important;
}

.return_empresas{
    color: black !important;
}
.return_empresas:hover{
    color:#FF4700 !important;
}





