
.header{
    background-color: black;

}
.logoHeader{

    color:  #FF4700;
    font-size:20px;
}
.logoHeader:hover{
    color:white!important;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
    color: white!important;

}
.menu{
    width: 50%;
    margin: 0 auto;
}
.menuUl{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
li{
margin: 0 auto;
}
a{
    color: white;
    text-decoration: none;
}

<<<<<<< HEAD

li a:hover{
    border-bottom: solid 4px #FF4700;
    color:#FF4700!important;
}

.InfoFooter{
    margin-bottom: 5px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
=======
    li{
        margin: 0 auto;
        a{
            color: white;
            text-decoration: none;
        }
    }
    li a:hover{
        border-bottom: solid 4px #FF4700;
        color:#FF4700!important;
        transition: color 0.8s linear 0.2s;
    }

 }

 .footertemplate{
     width: 100%;
    background-color: black;
    height: 60;
    bottom: 0;
    position:fixed;

    .nav-link{
        color:white;
    }
    .telf{
    pointer-events: none;
  }
    li a:hover{

        color:#FF4700!important;
    }

>>>>>>> 827801f8055a355e93a7bd33b1a866bcf4ab9834
}

ul li{ 
    color: white!important;

}






