body{
    font-family: 'Poppins', sans-serif;

}

.header{
    background-color: #222223;
    height: 75px;

}

.navbar{
    background-color: #222223!important;
    height: 60px;
    border-bottom: 2px solid #FF4700;
    font-size: auto!important;
}

#navbarSupportedContent{
    line-height: 60px;
}
.content{
    position: relative;
    // height: 1000px;
}

.logoHeader{
    color:  #FF4700;
    font-size:20px;
}
.logoHeader:hover{
    color:white!important;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
    color: white!important;

}

.logoutpanel{
    background-color:#ff4800c2!important;

    a{
        color:white;
    }
}

.dropdown-item{
    color:  #FF4700 ;
}

.menu{
    width: 75%;
     margin: 0 auto;
 }
 .menuUl{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    li{
        margin: 0 auto;
        a{
            color: white;
            text-decoration: none;
        }

}
    li a:hover{
        border-bottom: solid 4px #FF4700;
        color:#FF4700!important;
    }

 }
.footertemplate{
    width: 100%;
    background-color: #222223;
    height: 60;
    border-top:solid 2px #FF4700;
    bottom: 0!important;
    z-index: 0;

    .nav-link{
        color:white;
        padding: 10px!important;
        margin-right: 30px!important;
    }
    li a:hover{

        color:#FF4700!important;
    }

    .icontact {
        color: #FF4700;
    }

}

ul li{
    color: white!important;

}

// .hrHeader{
//     background-color:#FF4700!important;
//     height: 2px;
// }
.logofuter{
    padding: 5px;
    float: left!important;
    width: 100px;
    margin-right: 20px;

}
.nav-item-telf{
    padding: 10px!important;
    margin-right: 30px!important;
}
