body{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}
.backacces{
    width: 520px!important;
    height: 312px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: 40%;
    border: 1px solid white;
}
.card-body{
    width: 520px!important;
}
.inputlog{
    width: 478px;
    height: 61px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 0 auto;
}
.buttonlog {
    width:478px;
    border-radius: 5px;
    height: 61px;
    border: solid 1px #FF4700!important;
    background-color:  #FF4700!important;
    font-size: 18px!important;
}
.buttonlog:hover{
    background-color:orange;
}
.logdetails{
    margin: 0;
}
.checkbox{
    color:white;
}
.forgotpssw{
    margin-top: 15px;

    }
    .btn {
        color:white!important;
    }


    .ImgHome{
        width: 100%;
        height: 100vh;
        -webkit-box-shadow: inset -200px -200px 300px 200px rgba(0,0,0,0.44);
        -moz-box-shadow: inset -200px -200px 300px 200px rgba(0,0,0,0.44);
        box-shadow: inset -200px -200px 300px 200px rgba(0,0,0,0.44);
        background-image: url('https://images.pexels.com/photos/574069/pexels-photo-574069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
        justify-content: space-between;
        display: flex;
        object-fit: cover;
    }
    //
    footer{
        background-color: rgba(0, 0, 0, 0.863);
        color: white;
        border-top:2px solid #FF4700;
        width: 100%;
        height: 23vh;
        display: flex;
        justify-content: space-evenly;
        padding-top: 33px;

    }
    h3, p{
        color:white;
    }
    h3 {
        margin-bottom: 10px;

    }
    p {
        margin-left: 5%;

    }
    .icons-footer{
        font-size:30px;
    }
    #DivIconosFooter{
        margin: 20px;
    }
    #IconoFacebook{
        margin-left: 10px;
        margin-right: 10px;
    }
    #IconosTwitter{
        margin-left: 10px;
        margin-right: 10px;
    }

    a{
    color: white;
    text-decoration: none;
    }
    a:hover{
        color:#FF4700;
    }

    .InfoFooter{
        margin-bottom: 5px;
    }
