*{
  font-family: 'Poppins', sans-serif!important;
  margin: 0;
  padding: 0;
}
/*CARD EMPRESA SMALL*/
.card-empresa-xs{

  width: 840px;
  height: 186px;
  border-radius: 15px;
  background-color:  #eeeeee;
  border: 2px solid #FF4700;
  display: grid;
  grid-template-columns: 200px 400px 240px;
  grid-template-rows: 186px;

}
    /*IMG PERFIL EMPRESA*/
.img-empresa{
    width: 110px;
    height: 110px;
    border-radius: 180px;
    border: 2px solid #FF4700;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(https://i0.pngocean.com/files/1024/771/582/5bbf34f41a803.jpg);
    background-size: 110px 110px;
    justify-self: center;
    align-self: center;

}
.card-central{
  justify-self: start;
}
.card-central h5{

  font-size: 20px;
  align-self: start;
  margin-top: 40px;
  margin-bottom: 40px;
}
.card-central p{
  align-self: center;
  color: #888;
}
.card-central .language-tag{
  width: 50px;
  height: 20px;
  background-color:#FF4700;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  align-self: end;
  text-decoration:none;

}
.card-info{

  align-items: center;
  text-align: center;

}

.card-info h5{
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}
.card-info a{
  text-decoration: none;
	font-size: 32px;
	font-size: 2rem;
  color: #888;
  align-items: center;
  text-align: center;
}

/*BUSCADOR + BUTTOM*/

.search{

  width: 500px!important;
  margin-left: 20px;


}
.search input{
background-color: #eeeeee;

}
/*ETIQUETAS LENGUAJE*/
.language-tag{
  width: 50px;
  height: 20px;
  background-color:#FF4700;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}
.language-tag a{
  color: white;
  text-decoration: none;
}
/*PUNTUACION CON ESTRELLAS*/
.puntuacion-Estrella {

	font-size: 0;
	display: inline-block;
}
.puntuacion-Estrella a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;

	color: #888;
}

.puntuacion-Estrella a {
	color:orangered;
}

.puntuacion-Estrella > a:hover ~ a {
	color: #888;
}
/*PAGUINACION*/
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

ul.pagination li a.active {
  background-color: orangered;
  color: white;
  border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/* Checkbox */
.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .check:hover input ~ .checkmark {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .check input:checked ~ .checkmark {
    background-color: #FF4700;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .check input:checked ~ .checkmark:after {
    display: block;
  }

  .check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*CARD-EMPRESA XXL*/
.card-empresa-xxl{
  height: 650px;
  width: 1200px;
  border-radius: 25px;
  border: 6px solid #FF4700;
  background-color:  #eeeeee;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}
/* .card-empresa-xxl */
