body{
    font-family: 'Poppins', sans-serif!important;
  margin: 0;
  padding: 0;
    background-color: black;
}
.header {
    background-color: black;
        top: 45%;
        height:20%;
        width: 100%;
    }

.img-header{
    top:30%;
    height: 250px;
    width: 100%;
    padding: 0;
}
img{
    border: 2px solid #FF4700;
}
h1{
    background: black;
    color: #FF4700!important;
    text-align: center;

}
.box-buscador{
    margin-left:70%;
    margin-top: 10px;
}
.buscador{
    width: 400px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid #FF4700;
    text-align: center;
    font-size: 15px;

}
.buscar{
    width: 99px;
    height:29px;
    border-radius:5px;
    border: 1px solid #FF4700;
    background-color:  #FF4700;
    color:white;
}

.box-faq {
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 1000px;
    margin-top: 15px;
    padding: 2px;


}
.card-list{
    width: 98%;
    height: 186px;
    border-radius: 15px;
    background-color:  #eeeeee!important;
    margin-left: 20px;
    border:solid 2px #FF4700!important;
    display: block;
    margin-top: 15px;

}


h2{
    background: #FF4700;
    color: white;
    text-align: left;
}






