body{
    font-family: 'Poppins', sans-serif!important;
    margin: 0;
    padding: 0;
    background-color: black;
}

img{
    border: 2px solid #FF4700;
}

.huevos{
    float:right;
    margin-top: 10%;
    margin-right: 2%;
}

.search{
    width: 500px!important;
    margin-left: 20px;
}
.search input{
    background-color: #eeeeee;
}

.card-list{
    height: 20%;
    width: 95%;
    border-radius: 15px;
    background-color:  #eeeeee!important;
    margin-left: 10px;
    border:solid 2px #FF4700!important;
    display: block;
    padding: 20px;
    margin-top: 10px;
}

.card-right{
    height: 45% !important;
    width: 95%;
    border-radius: 15px;
    background-color:  #eeeeee!important;
    margin-left: 10px;
    border:solid 2px #FF4700!important;
    display: block;
    margin-top: 10px;
    padding: 20px;
}

 .card-right p{
    margin-top:10px;
}

.box-card {
    background-color: white;
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 1000px;
    margin-top: 10px;
    padding: 8px;
}

.left-box {
    background-color: white;
    display: inline-block;
    width: 45%;
    height: 900px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 30px;
}
.right-box {
    background-color: white;
    float: right;
    width:45%;
    height: 900px;
    margin-top: 10px;
    padding: 10px;
    margin-right: 20px;
}

h1,h3,h2{
    color: #FF4700!important;
    margin: 0px 0px 0px 20px;
    margin: 0!important;
}
.card-list p{
    margin-top:10px;
    text-align: left!important;
}
