*{
    font-family: 'Poppins', sans-serif;
}

/* ---- HEADER NEGRO PROFILES --- */
.header-profile{
    background-color: black;
    width: 100%;
    height: 50px;
}

h3 {
    color: orangered;
}
/* --- CENTRALIZA EL TEXTO DEL HEADER --- */
.text-center{
    padding-top: 10px;
}
p {
    color: black;
}

/* ---- DIV QUE CONTIENE FOTO, NOMBRE Y BOTON DEL USUARIO ----*/
.box-profile{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

/* ---FOTO---- */
/* --- LA FOTO YA TIENE UNA BORDA, POR ESO HAY ESE "ESPACIO" BLANCO ENTRE LA FOTO Y LA BORDA --- */
.avatar-profile{
    width: 200px;
    height: 200px;
    border-radius: 180px;
    border: 2px solid #FF4700;
    background-size: 200px 200px;
}


/* ----BOTON "VIEW PROFILE"----*/
.button-profile{
    height: 30px;
    width: 130px;
    background-color: orangered;
    color: black;
    outline: 0;
    border: 0;
}
.button-profile:hover{
    background-color: black;
    color: orangered;
}

/* ---- DIV EN FLEX QUE SEPARA LOS 3 ELEMENTOS DE CADA LINEA CON UN SPACE-AROUND"*/
.div-profile{
    display: flex;
    justify-content: space-around;

}
/*---------------- FIN DE LOS ESTILOS DE PERFIL.HTLM --------------*/




.box-profile-show{
    display: grid;
    height: 200px;
    width: 600px;
    padding-top: 8px;
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start:1;
    grid-row-end: 2;
}
/* ------ TABLA QUE CONTIENE LOS BOTONES ------*/
.table-borderless-responsive{
    background-color: ghostwhite;
    text-align: center;
    width: 600px;
    grid-column-start:2;
    grid-column-end: 2;
    justify-self: start;
    align-self: center;
    grid-row-start:1;
    grid-row-end: 1;
}

/* ------ LA OTRA TABLA QUE ESTABA EN EL MOCKUP ------*/

.table-borderless-responsive1{
    background-color: ghostwhite;
    text-align: center;
    width: 600px;
    grid-column-start:2;
    grid-column-end: 2;
    justify-self: start;
    align-self: center;
    grid-row-start:2;
    grid-row-end: 2;
}

/* --- CONTAINER QUE ALINEA EL CONTENIDO ----*/
.container-show{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;
}

/* ---- QUITA LOS ESTILOS DE LOS LINKS <a> Y DE LAS LISTAS <ul><li> ----- */
ul li{
    list-style: none;
    text-align: center;
}
a:link{
    text-decoration: none!important;

}


